* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 99% 50% !important;
  padding-right: 30px !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #555 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #555 !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #555 !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #555 !important;
}

body {
  padding-top: 5px;
  padding-bottom: 5px;
}

.action-toolbar[disabled] select,
.action-toolbar[disabled] button,
select[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65) !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65 !important;
}

.action-toolbar * {
  color: #000;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.top-bar .header {
  margin-top: 0;
  line-height: 32px;
  height: 40px;
  background: transparent url('../favicon.png') no-repeat left;
  padding-left: 35px;
  margin-bottom: 10px;
}

.top-bar .nav-tabs {
  border-bottom: none;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.separator {
  margin: 1px -15px;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */


@media (max-width: 768px) {

  .top-bar {
    height: 60px;
  }

  .batch-actions {
    width: 100%;
  }

  .modal-details .actions-form .action-priority {
    width: 100%;
  }

  .actions-form .input-group-addon:first-child {
    width: 100px;
    text-align: left;
  }

  #addtorrent-form .form-group,
  #filters-form .form-group {
    padding-left:0px;
    padding-right:0px;
  }

}

.form-inline .form-group {
  margin-bottom: 5px !important;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media (min-width: 768px) {
  .hide-on-lg {
    display: none;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  .batch-actions {
    width: 100%;
    max-width: 1024px;
  }

  .modal-details .modal-dialog {
    width: 97%;
  }
  /*.actions-form .filter-label > select,
  .actions-form .filter-status > select,
  .actions-form .action-label > select,
  .actions-form .action-priority > select {
    width: 175px !important;
    max-width: 175px !important;
  }*/

  #addtorrent-form .input-group,
  #filters-form .input-group  {
    width: 100%;
  }

  #addtorrent-form .input-group-btn,
  #filters-form .input-group-btn  {
    width: 30px;
  }

  #addtorrent-form .form-group,
  #filters-form .form-group {
    padding-left:2px;
    padding-right:2px;
  }

}


.actions-form .status-text,
.actions-form .info-text {
  text-align: center;
}


.torrent-table td {
  overflow:hidden;
}

.repeater-container {
  height: 500px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.torrent .selectable {
  background-color: transparent;
  border-right:0;
}

.torrents {
  width: 100%;
}

.repeater-container .columns {
  padding-right: 160px;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.torrent .name {
  padding-left: 5px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 30px;
  overflow: hidden;
}

.torrent .priority {
  width: 150px;
  padding-left:0px;
  padding-right:5px;
  padding-bottom: 2px;
}

.torrent .size {
  width: 65px;
  text-align: right;
  padding-left:0px;
  padding-right:5px;
  padding-bottom: 2px;
}

.torrent .speed {
  padding-left: 2px;
  padding-right: 2px;
  width: 120px;
}

.torrent .peers {
  padding-left: 2px;
  padding-right: 2px;
  width: 100px;
}

.torrent .queue {
  padding-left: 2px;
  padding-right: 2px;
  width: 40px;
}

.torrent .download-progress {
  height: 3px;
}

.byte-value {

}

.version {
  font-size: 50%;
  vertical-align: sub;
}

.byte-uom {
  font-size: 75%;
  vertical-align: sub;
}


.repeater-container {

}

.repeater-container .actions {
  width:160px;
  margin-right: 12px;
}
.repeater-container > .row:nth-child(2n+1) {
  background-color: #FAFAFA;
}

/*
.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
  height: 22px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
*/

.download-progress {
  height: 4px;
  width: 0px;
  /*
  float: left;
  margin-bottom: -4px;
  */
  margin-left: 3px;

}

.sorter,
.selectable {
    cursor: pointer !important;
}

.torrent-header {
  height: 60px;
}

.torrent-header .name{
  line-height: 60px;
  height: 60px;
}

.torrent-header .tag-label {
  margin-right: 45px;
}

.torrent-header .sorter {
  font-weight: bold;
  text-align: center;
/*
  border: 1px solid #ccc;
*/
  background-color: #eee;
}

.torrent-header .actions {
  width:33px;
  cursor: default;
}

.action-toolbar .dropdown-menu {
  background: transparent;
  border: none;
  padding: 0;
  max-height: 350px;
  overflow-y: scroll;
  padding: 1px;
  right: 0;
}

.dropdown-menu a {
  width: 100%;
  text-align: left;
  margin: -1px;
}

fieldset.action-toolbar {
  margin-right: 5px;
}

fieldset.action-toolbar .middle {
  border-left:0px;
  border-right:0px;
}

.accordion-toggle, .batch-actions .input-group-addon {
  cursor:pointer;
}

.squared {
  -webkit-appearance: none;
  border-radius: 0;
}
/*
.filter-label,
.filter-name {
  min-width: 250px;
}
*/

.glyphicon-animate-spin {
  -animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

/* .torrents-results button {
  float: right;
  border-left: 1px solid;
  padding: 0px 3px;
}
*/

/*
.torrents-results {
  cursor:pointer;
}
*/

.torrent > * > * {
  border-width: 0px;
}

.torrent > *  {
  border-top-width: 1px;
}

.torrent .selected,
.torrent .torrent-header {
  background-color: #eee;
}

.torrent .input-group-addon {
  background-color: inherit;
  border: 0;
}

.details-header {
  padding-bottom: 0px;
}

.details-header .details-progress .progress {
  margin-bottom: 5px;
}

.details-header .details-progress .progress-bar {
  color: #555;
}

.details-body .head {
  text-align: center;
}

.details-body .details-file-priority {
  padding: 0px;
  height: 20px;
}

.details-body .details-files-header,
.details-body .torrent,
.details-body .torrent-row {
  width: 100%;
}

.modal-details .modal-dialog {
  max-width: 990px;
}

.drop-box {
  cursor:pointer;
}

.languages {
  margin-top: 3px;
}

.languages ul {
  height: 350px;
  overflow-y: scroll;
}

.buttons-base > button,
.buttons-advanced > button {
  width: 33.3%;
}
