* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 99% 50% !important;
  padding-right: 30px !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #555 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #555 !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #555 !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #555 !important;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.top-bar .header {
  margin-top: 0;
  line-height: 32px;
  height: 40px;
  background: transparent url('/favicon.png') no-repeat left;
  padding-left: 35px;
  margin-bottom: 10px;
}

.top-bar .nav-tabs {
  border-bottom: none;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.separator {
  margin: 1px -15px;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */

@media (max-width: 768px) {

  .hide-on-md {
    display:none;
  }

  .batch-actions {
    width: 100%;
  }
  .filter-label,
  .filter-name {
    width: 100%;
    min-width: 250px;
  }

}

.form-inline > div {
  margin-bottom: 5px !important;
}

@media (min-width: 768px) {
  .container {

  }

  .batch-actions {
    width: 100%;
    max-width: 1024px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.torrent-table td {
  overflow:hidden;
}

.repeater-container {
  height: 500px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.torrent .selectable {
  background-color: transparent;
  border-right:0;
}

.torrents {
  width: 100%;
}

.repeater-container .columns {
  padding-right: 160px;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.torrent .name {
  height: 31px;
  line-height: 31px;
  padding-left: 5px;
  padding-right: 0px;
  padding-top: 0px;
  overflow: hidden;
  /*
  border-width: 1px 0px 1px 0px;
  */
}

.torrent .size {
  width: 65px;
  text-align: right;
  padding-left:0px;
  padding-right:5px;
  padding-bottom: 2px;
}

.torrent .speed {
  padding-left: 2px;
  padding-right: 2px;
  width: 120px;
}

.torrent .peers {
  padding-left: 2px;
  padding-right: 2px;
  width: 100px;
}

.torrent .queue {
  padding-left: 2px;
  padding-right: 2px;
  width: 40px;
}

.torrent .download-progress {
  height: 3px;
}
/*
.torrent .btn,
.torrent input,
.torrent .input-group-addon {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 20px;
}
*/
/*
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
*/

.byte-value {

}

.version {
  font-size: 50%;
  vertical-align: sub;
}

.byte-uom {
  font-size: 75%;
  vertical-align: sub;
}


.repeater-container {

}

.repeater-container .actions {
  width:160px;
  margin-right: 12px;
}
.repeater-container > .row:nth-child(2n+1) {
  background-color: #FAFAFA;
}

.btn-clear {
  position: absolute;
  right: 30px;
  z-index: 2;
}

.filter-name .btn-clear {
  right: 55px;
}

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
  height: 22px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}

.download-progress {
  height: 4px;
  width: 0px;
  /*
  float: left;
  margin-bottom: -4px;
  */
  margin-left: 3px;

}

.sorter,
.selectable {
    cursor: pointer !important;
}

.torrent-header .sorter {
  font-weight: bold;
  text-align: center;
/*
  border: 1px solid #ccc;
*/
  background-color: #eee;
}

.torrent-header .actions {
  width:33px;
  cursor: default;
}

.actions-menu .dropdown-menu {
  top: 20px;
  right: 0px;
  left: inherit;
}

.actions-menu .dropdown-menu .glyphicon {
  top: 2px;
}

.accordion-toggle, .batch-actions .input-group-addon {
  cursor:pointer;
}

.squared {
  -webkit-appearance: none;
  border-radius: 0;
}
/*
.filter-label,
.filter-name {
  min-width: 250px;
}
*/

.glyphicon-animate-spin {
  -animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

/* .torrents-results button {
  float: right;
  border-left: 1px solid;
  padding: 0px 3px;
}
*/

/*
.torrents-results {
  cursor:pointer;
}
*/

.torrent > * > * {
  border-width: 0px;
}

.torrent > *  {
  border-top-width: 1px;
}

.torrent .selected,
.torrent .torrent-header {
  background-color: #eee;
}

.torrent .input-group-addon {
  background-color: inherit;
}

.details-header {
  padding-bottom: 0px;
}

.details-header .details-progress .progress {
  margin-bottom: 5px;
}

.details-header .details-progress .progress-bar {
  color: #ccc;
}
