<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>ng-torrent-ui {{VERSION}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="favicon.png" rel="icon" type="image/png" />
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
  <link rel="stylesheet" href="bower_components/flatstrap-css-only/css/flatstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<!-- build:[ng-app]:demo,demodist utorrentNgwebuiAppDemo -->
<body ng-app="utorrentNgwebuiApp" ng-cloak>
<!-- /build -->

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <div class="container-fluid" ng-controller="NavController">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

        <div class="btn-group pull-right languages" dropdown>
          <button type="button" class="btn dropdown-toggle flag" dropdown-toggle>
            {{languageDesc}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="lang in languages" >
              <a href="javascript:void(0)" ng-click="changeLanguage(lang)">
                {{lang.desc}}
              </a>
            </li>
          </ul>
        </div>

        <div class="top-bar">
          <tabset class="pull-right">
            <li><a ng-href="#/">{{ 'STM_TORRENTS' | translate }}</a></li>
            <!-- <li><a ng-href="#/settings">{{ 'MM_OPTIONS' | translate }}</a></li> -->
            <li><a ng-href="#/about">{{ 'MM_HELP' | translate }}</a></li>
          </tabset>

          <h3 class="text-muted header logo">ng-torrent-ui <span class="version">{{VERSION}} <a target="_BLANK" class="text-danger" href="https://github.com/psychowood/ng-torrent-ui/releases" ng-show="updatedVersion && currentVersion !== updatedVersion">({{updatedVersion}} available for download)</a> <span ng-show="serverVersion"> - {{serverVersion}}</span></span> </h3>
        </div>

        <div ng-view=""></div>

        <!-- div class="footer">
          <p></p>
        </div-->
      </div>


    <!-- build:include:analytics analytics.html -->
    <!-- /build -->

     <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-vs-repeat/src/angular-vs-repeat.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-url/angular-translate-loader-url.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:include:demo,demodist demo/demo.html -->
    <!-- /build -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/settings.js"></script>
    <script src="scripts/services/utorrentservice.js"></script>
    <script src="scripts/services/deL33Ter.js"></script>
    <script src="scripts/directives/torrent-row.js"></script>
    <script src="scripts/controllers/details-dialog.js"></script>
    <script src="scripts/filters/formatbytes.js"></script>
    <script src="scripts/controllers/issue-reporter.js"></script>
    <script src="scripts/services/translation-loader.js"></script>
    <!-- endbuild -->

  </body>
  </html>
