If you want to discuss or get support, you can reach the <a target="_BLANK" href="https://plus.google.com/communities/102445612191587383590">Google Community</a>.

<h3>Sources</h3>
<p>Sources and documentation available on my <a href="https://github.com/psychowood/ng-torrent-ui">GitHub page</a>.</p>

<h3>Donations</h3>
<p>This is developed during my free time so, if you are willing to offer me a beer and support this project, you are welcome :)</p>
<p>You can donate with paypal in <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=84LH348H27CN6">EUR</a> or <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7Z88PRASGESGQ">USD</a>.</p>

<h3>Privacy</h3>
<p>The main page includes a Google Analytics tag. It is used just to count pageviews, and nothing else is tracked.</p>
<p>The tag can be easily removed from index.html by hand if you believe this could be a problem.</p>
