<div class="modal-header details-header">
  <h3 class="modal-title"><button type=button ng-click="$dismiss()" class="btn btn-primary pull-right" ><span class="glyphicon glyphicon-remove"></span></button>{{torrent.decodedName}}</h3>
    <div class="details-progress">
      <progressbar max="1000" ng-class="{'progress-striped active':(torrent.uploadSpeed !== 0 || torrent.downloadSpeed !== 0)}" type="{{ ((torrent.percent < 250)?'warning':((torrent.percent < 999)?'info':'success')) }}" value="torrent.percent">{{torrent.percent/10}}% </progressbar>
    </div>
</div>
<div class="modal-body details-body">
  <!-- <div><b>ETA:</b> {{torrent.eta}}</div> -->
  <div><b>{{'OV_COL_NAME' | translate}}:</b> {{torrent.name}}</div>
  <div><b>{{'GN_TP_10' | translate}}</b> {{torrent.hash}}</div>
  <div><b>{{'OV_COL_SIZE' | translate}}:</b> {{torrent.getSizeStrArr()[0]}}{{torrent.getSizeStrArr()[1]}}</div>
  <div><b>{{'OV_COL_STATUS' | translate}}:</b> <i ng-repeat="status in torrent.statusesCached">
      {{ status }}<span ng-if="!$last">,</span>
    </i></div>
  <div><b>{{'OV_COL_LABEL' | translate}}:</b>  <i ng-repeat="label in torrent.getLabels()">
      {{ label }}<span ng-if="!$last">,</span>
    </i></div>
  <div><b>{{'PRS_COL_CLIENT' | translate}}:</b>
    {{'GN_TP_03' | translate}} {{torrent.seedsConnected}} <span ng-if="torrent.seedsInSwarm > 0"> / {{torrent.seedsInSwarm}}</span>,
    {{'GN_TP_07' | translate}} {{torrent.peersConnected}} <span ng-if="torrent.seedsInSwarm > 0"> / {{torrent.peersInSwarm}}</span>,
    {{'GN_TP_08' | translate}} {{torrent.ratio/1000}}%
  </div>
  <div><b>{{'GN_TRANSFER' | translate}}:</b>
    {{'GN_TP_02' | translate}} {{torrent.formatBytes(torrent.uploaded)}} ({{torrent.getUpSpeedStrArr()[0]}}{{torrent.getUpSpeedStrArr()[1]}}),
    {{'GN_TP_01' | translate}} {{torrent.formatBytes(torrent.downloaded)}} ({{torrent.getDownSpeedStrArr()[0]}}{{torrent.getDownSpeedStrArr()[1]}})
  </div>
  <div ng-if="torrent.eta > 0"><b>{{'OV_COL_ETA' | translate}}:</b>
    {{ torrent.eta | amDurationFormat : 'seconds' }}
  </div>  
  <div ng-if="torrent.dateAdded"><b>{{'OV_COL_DATE_ADDED' | translate}}:</b>
    {{torrent.dateAdded | date:'medium'}}
  </div>
  <div ng-if="torrent.dateCompleted"><b>{{'OV_COL_DATE_COMPLETED' | translate}}:</b>
    {{torrent.dateCompleted | date:'medium'}}
  </div>
  <div ng-if="torrent.savePath"><b>{{'GN_TP_09' | translate}}</b>
    {{torrent.savePath}}
  </div>
  <p></p>
  <uib-tabset>
    <uib-tab heading="{{'OV_TABS' | translateMultiLabel:4}}">
    <p></p>
      <form role="form" ng-submit="doFilter()" class="form-inline actions-form action-toolbar">
        <div class="form-group">
          <div class="input-group input-group-sm filter-name">
            <input class="form-control" type="text" ng-model="filters.name" placeholder="{{'DLG_RSSDOWNLOADER_06' | translate}} {{'FI_COL_NAME' | translate}}">
            <span class="input-group-btn">
              <button class="btn" type="button" ng-disabled="filters.name === ''" ng-click="filters.name = ''" ><span class="glyphicon glyphicon-remove-circle"></span></button>
            </span>
          </div>
        </div>
    <div class="form-group">
      <div class="input-group input-group-sm action-priority">
          <select ng-model="priorityToSet" class="form-control squared" ng-disabled="hasSelection === false" ng-change="setPriority()">
            <option value="" disabled selected>{{'FI_COL_PRIO' | translate}} </option>
            <option value="0">{{'MF_DONT' | translate}}</option>
            <option value="1">{{'MF_LOW' | translate}}</option>
            <option value="2">{{'MF_NORMAL' | translate}}</option>
            <option value="3">{{'MF_HIGH' | translate}}</option>
          </select>
        </div>
      </div>
      </form>
  <p></p>
  <div class="torrent">
  <div class="input-group input-group-sm torrent-header details-files-header">
    <span class="input-group-addon">
      <input type="checkbox" ng-model="selectCheckbox" ng-change="toggleSelection()" >
    </span>
    <span class="form-control name sorter text-center" ng-click="sorter.field = 'name'; sorter.descending=!sorter.descending">{{'FI_COL_NAME' | translate}}
      <span class="glyphicon" ng-show="sorter.field === 'name'" ng-class="{'glyphicon-sort-by-attributes-alt':sorter.descending,'glyphicon-sort-by-attributes':!sorter.descending}"></span>
    </span>
    <span class="input-group-addon size sorter text-center" >
      <span ng-click="sorter.field = 'percent'; sorter.descending=!sorter.descending">%
        <span class="glyphicon" ng-show="sorter.field === 'percent'" ng-class="{'glyphicon-sort-by-attributes-alt':sorter.descending,'glyphicon-sort-by-attributes':!sorter.descending}"></span>
      </span>
      -
      <span ng-click="sorter.field = 'size'; sorter.descending=!sorter.descending">{{'FI_COL_SIZE' | translate}}
        <span class="glyphicon" ng-show="sorter.field === 'size'" ng-class="{'glyphicon-sort-by-attributes-alt':sorter.descending,'glyphicon-sort-by-attributes':!sorter.descending}"></span>
      </span>
    </span>
    <span class="input-group-addon priority sorter text-center" ng-click="sorter.field = 'priority'; sorter.descending=!sorter.descending">{{'FI_COL_PRIO' | translate}}
      <span class="glyphicon" ng-show="sorter.field === 'priorità'" ng-class="{'glyphicon-sort-by-attributes-alt':sorter.descending,'glyphicon-sort-by-attributes':!sorter.descending}"></span>
    </span>
  </div>
</div>
<p></p>

<div vs-repeat="30" vs-autoresize class="repeater-container" ng-style="{ height: listHeight + 'px'}">
  <div ng-repeat="file in ($parent.filteredFiles = (torrent.files | filter:{name:filters.name} | orderBy:sorter.field:sorter.descending))" class="torrent" data-toggle="context" >
    <div class="input-group input-group-sm torrent-row selectable" ng-class="{'selected':file.selected}" ng-click="toggleSelection(file)">
      <span class="input-group-addon">
        <input type="checkbox" ng-model="file.selected" ng-click="checkSelected();$event.stopPropagation()" >
      </span>
      <div class="form-control selectable name" >{{ file.name }}
      </div>
      <div class="input-group-addon size">
        <span class="byte-value">{{ torrent.formatBytesStrArr(file.size)[0] }}</span> <span class="byte-uom">{{ torrent.formatBytesStrArr(file.size)[1] }}</span><div class="download-progress" ng-style="{'width':file.percent+'%'}" ng-class="{'btn-warning':(file.percent < 25), 'btn-info':(file.percent < 99), 'btn-success':(file.percent > 98)}"></div>
      </div>
      <div class="input-group-addon input-group-sm priority text-center">
      <span class="animate-switch-container"
        ng-switch on="file.priority">
          <span ng-switch-when="0">{{'MF_DONT' | translate}}</span>
          <span ng-switch-when="1">{{'MF_LOW' | translate}}</span>
          <span ng-switch-when="2">{{'MF_NORMAL' | translate}}</span>
          <span ng-switch-when="3">{{'MF_HIGH' | translate}}</span>
          <span ng-switch-default>???</span>
      </span>
      </div>
    </div>
  </div>
</div>
<!-- <div vs-repeat="30" vs-autoresize class="repeater-container" ng-style="{ height: listHeight + 'px'}">
  <div ng-repeat="item in torrent.files" class="torrent" data-toggle="context" >
    <div class="input-group input-group-sm torrent-row" ng-class="{'selected':item.selected}">
      <span class="input-group-addon">
        <input type="checkbox" ng-model="item.selected" ng-change="updateSelected()" >
      </span>
      <span class="input-group-addon status" title="{{statusTitle}}" >
        <span class="glyphicon {{statusClass}} {{statusColor}}"></span>
      </span>
      <div title="{{item.name}}" class="form-control selectable name" ng-click="setSelected(item.hash,$event)" >{{item.name}}
      </div>
      <div class="input-group-addon selectable size">
        <span class="byte-value">{{item.getSizeStrArr()[0]}}</span> <span class="byte-uom">{{item.getSizeStrArr()[1]}}</span><div class="download-progress" ng-style="{'width':item.getPercentStr()}" ng-class="{'btn-warning':(item.percent < 250), 'btn-info':(item.percent < 999), 'btn-success':(item.percent > 998)}"></div></div>
        <span class="input-group-addon selectable speed hide-on-md">
          <span class="byte-value">{{item.getUpSpeedStrArr()[0]}}</span> <span class="byte-uom">{{item.getUpSpeedStrArr()[1]}}</span>
          -
          <span class="byte-value">{{item.getDownSpeedStrArr()[0]}}</span> <span class="byte-uom">{{item.getDownSpeedStrArr()[1]}}</span>
        </span>
        <span class="input-group-addon selectable peers hide-on-md">
          <span class="byte-value">{{item.seedsInSwarm}}</span>
          -
          <span class="byte-value">{{item.peersInSwarm}}</span>
        </span>
      </div>
  </div>
</div> -->
     </uib-tab>
     <uib-tab heading="{{'OV_TABS' | translateMultiLabel:1}}">
        <p></p>
        <div ng-repeat="tracker in torrent.props.trackers.split('\r\n') track by $index" class="torrent">
            {{tracker}}
        </div>
     </uib-tab>
  </uib-tabset>
  <!-- <pre>
  <code>
    {{filteredFiles | json}}
  </code>
    {{torrent | json}}
  </pre> -->
</div>
