<div class="container-fluid" >

  <form role="form" class="form-inline row" id="addtorrent-form">
    <div class="form-group col-sm-6">
      <div class="input-group input-group-sm upload-file" >
        <div ng-file-drop ng-model="newtorrentfiles" class="drop-box form-control"
            drag-over-class="{accept:'alert-success', reject:'alert-danger', delay:100}"
            multiple="true" ng-multiple="true" hideOnDropNotAvailable="false" accept="application/x-bittorrent" dropAvailable="uploadDropSupported" ng-file-change="addTorrentFilesChanged($files, $event, $rejectedFiles)">
            <div ng-file-select ng-model="newtorrentfiles" ng-multiple="true" accept="application/x-bittorrent" ng-file-change="addTorrentFilesChanged($files, $event, [])">
                <span>{{'OV_TB_ADDTORR' | translate}} ({{'CLICKORDRAG' | translate}})</span>
                <span ng-hide="newtorrentfiles === null || newtorrentfiles.length === 0">({{newtorrentfiles.length}} {{'SELECTED' | translate}})</span>
            </div>
            </div>

        <span class="input-group-btn">
          <button type=button ng-hide="newtorrentfiles.length === 0" ng-click="newtorrentfiles = []" class="btn" ><span class="glyphicon glyphicon-remove-circle"></span></button>
          <button type=button ng-click="addTorrentFiles(newtorrentfiles)" ng-disabled="newtorrentfiles.length === 0" class="btn btn-primary" ><span class="glyphicon glyphicon-upload"></span></button>
        </span>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <div class="input-group input-group-sm upload-url" >
        <input type="text" ng-model="newtorrent" placeholder="{{'OV_TB_ADDURL' | translate}}" class="form-control">
        <span class="input-group-btn">
          <button type=button ng-hide="newtorrent === ''" ng-click="newtorrent = ''" class="btn" ><span class="glyphicon glyphicon-remove-circle"></span></button>
          <button type=button ng-click="addTorrent(newtorrent)" ng-disabled="newtorrent === ''" class="btn btn-primary" ><span class="glyphicon glyphicon-upload"></span></button>
        </span>
      </div>
    </div>
  </form>
  <p></p>

  <p></p>

  <form role="form" ng-submit="doFilter()" class="form-inline actions-form row" id="filters-form">
    <div class="form-group col-lg-2 col-sm-3">
      <div class="input-group input-group-sm">
        <span class="input-group-addon"><input type="checkbox" ng-model="autoreloadEnabled" ng-checked="autoreloadEnabled === true" ng-true-value="true" ng-false-value="false" ng-change="reload()"> {{'AUTORELOAD' | translate}}</span>
        <select ng-model="autoreloadTimeout" ng-change="reload()" class="form-control squared" ng-disabled="autoreloadEnabled === false">
          <option value="1000">1 sec</option>
          <option value="5000">5 sec</option>
          <option value="10000">10 sec</option>
          <option value="30000">30 sec</option>
        </select>
        <span class="input-group-btn">
          <button type=submit class="btn" ng-click="reload()" ng-disabled="refreshing"><span class="glyphicon glyphicon-refresh" ng-class="{'glyphicon-animate-spin':refreshing}"></span></button>
        </span>
      </div>
    </div>
    <div class="form-group col-lg-2 col-sm-3">
      <div class="input-group input-group-sm filter-name">
        <span class="input-group-addon"><input ng-disabled="notL33table" type="checkbox" ng-model="filters.l33t" ng-change="doFilter()"> l33t</span>
        <input class="form-control" type="text" ng-model="filters.name" ng-change="doFilter(true)" placeholder="{{'DLG_RSSDOWNLOADER_06' | translate}} {{'FI_COL_NAME' | translate}}">
        <span class="input-group-btn">
          <button class="btn" type="button" ng-disabled="filters.name === ''" ng-click="filters.name = '';doFilter()" ><span class="glyphicon glyphicon-remove-circle"></span></button>
        </span>
      </div>
    </div>
    <div class="form-group col-lg-2 col-sm-3">
      <div class="input-group input-group-sm filter-label">
        <select ng-model="filters.label" ng-change="doFilter()" class="form-control" ng-options="label[0] as label[0] + ' (' + label[1] + ')' for label in labels">
          <option value="">{{'DLG_RSSDOWNLOADER_06' | translate}} {{'ML_LABEL' | translate}}</option>
        </select>
        <span class="input-group-btn">
          <button class="btn" type="button" ng-disabled="filters.label === ''" ng-click="filters.label = '';doFilter()" ><span class="glyphicon glyphicon-remove-circle"></span></button>
        </span>
      </div>
    </div>
    <div class="form-group col-lg-2 col-sm-3">
      <div class="input-group input-group-sm filter-status">
        <select ng-model="filters.status" ng-change="doFilter()" class="form-control squared">
          <option value="">{{'DLG_RSSDOWNLOADER_06' | translate}}  {{'OV_COL_STATUS' | translate}}</option>
          <option value="completed">{{'OV_FL_FINISHED' | translate}}</option>
          <option value="downloading">{{'OV_FL_DOWNLOADING' | translate}}</option>
          <option value="paused">{{'OV_FL_PAUSED' | translate}}</option>
          <option value="queued">{{'OV_FL_QUEUED' | translate}}</option>
          <option value="seeding">{{'OV_FL_SEEDING' | translate}}</option>
        </select>
        <span class="input-group-btn">
          <button class="btn" type="button" ng-disabled="filters.status === ''" ng-click="filters.status = '';doFilter()" ><span class="glyphicon glyphicon-remove-circle"></span></button>
        </span>
      </div>
    </div>
    <div class="form-group input-group-sm col-lg-2 col-sm-3">
      <div class="form-control input-group info-text">
      {{filteredtorrents.length}} {{'MATCHING_FILTERS' | translate}}
      </div>
    </div>

    <div class="form-group col-lg-2 col-sm-3">
      <div class="input-group input-group-sm filter-selected">
        <span class="input-group-addon"><input type="checkbox" ng-model="filters.selected" ng-change="doFilter()"></span>
        <span class="form-control selectable" ng-click="filters.selected = !filters.selected; doFilter()">
          {{selectedtorrents.length}} {{'SELECTED' | translate}}
        </span>
        <span class="input-group-btn">
          <button class="btn" type="button" ng-click="clearSelected()"><span class="glyphicon glyphicon-remove-circle"></span></button>
        </span>
      </div>
    </div>
    <div class="form-group input-group-sm col-lg-4 col-sm-6">
      <div class="form-control input-group info-text">
        <div class="pull-left">{{torrents.length}} {{'STM_TORRENTS' | translate}} </div>
        <div class="pull-right"><span class="glyphicon glyphicon-circle-arrow-up"></span> {{uploadSpeed | formatBytes}}/s  | <span class="glyphicon glyphicon-circle-arrow-down"></span> {{downloadSpeed | formatBytes}}/s</div></div>
    </div>

    <fieldset class="form-group btn-toolbar action-toolbar  col-lg-3 col-xs-3" ng-disabled="selectedtorrents.length < 1">
        <div class="btn-group btn-group-sm btn-group-justified">
          <a role="button" class="btn btn-default" ng-click="doAction('start')"><span class="glyphicon glyphicon-play"></span> <span class="visible-lg-inline">{{'ML_START' | translate}}</span></a>
          <a role="button" class="btn btn-default middle" ng-click="doAction('pause')"><span class="glyphicon glyphicon-pause"></span> <span class="visible-lg-inline">{{'ML_PAUSE' | translate}}</span></a>
        <a role="button" class="btn btn-default" ng-click="doAction('stop')"><span class="glyphicon glyphicon-stop"></span> <span class="visible-lg-inline">{{'ML_STOP' | translate}}</span></a>
        </div>
    </fieldset>
    <fieldset class="form-group btn-toolbar action-toolbar col-lg-2 col-xs-4" ng-disabled="selectedtorrents.length < 1">
      <div class="btn-group btn-group-sm btn-group-justified">
        <a role="button" class="btn btn-default" ng-click="doAction('forcestart')" title="{{'ML_FORCE_START' | translate}}"><span class="glyphicon glyphicon-play-circle"></span> </a>
        <a role="button" class="btn btn-default middle" ng-click="doAction('recheck')" title="{{'ML_FORCE_RECHECK' | translate}}"><span class="glyphicon glyphicon-repeat"></span> </a>
        <div class="btn-group btn-group-sm dropdown" dropdown>
          <a role="button" class="btn btn-default dropdown-toggle" dropdown-toggle title="{{'ML_REMOVE' | translate}}">
            <span class="glyphicon glyphicon-remove"></span> <span class="caret"></span>
          </a>
          <div class="dropdown-menu btn-group-sm" role="menu">
            <a class="btn btn-default" ng-click="doAction('remove')" title="{{'ML_REMOVE' | translate}}"><span class="glyphicon glyphicon-remove"></span> {{'ML_REMOVE' | translate}}</a>
            <a class="btn btn-default" ng-click="doAction('removedata')" title="{{'ML_REMOVE_AND' | translate}} {{'ML_DELETE_DATA' | translate}}"><span class="glyphicon glyphicon-remove"></span> {{'ML_REMOVE_AND' | translate}} {{'ML_DELETE_DATA' | translate}}</a>
            <a class="btn btn-default" ng-click="doAction('removetorrent')" title="{{'ML_REMOVE_AND' | translate}} {{'ML_DELETE_TORRENT' | translate}}"><span class="glyphicon glyphicon-remove"></span> {{'ML_REMOVE_AND' | translate}} {{'ML_DELETE_TORRENT' | translate}}</a>
            <a class="btn btn-default" ng-click="doAction('removedatatorrent')" title="{{'ML_REMOVE_AND' | translate}} {{'ML_DELETE_DATATORRENT' | translate}}"><span class="glyphicon glyphicon-remove"></span> {{'ML_REMOVE_AND' | translate}} {{'ML_DELETE_DATATORRENT' | translate}}</a>
          </div>
        </div>
      </div>
    </fieldset>

      <fieldset class="form-group btn-toolbar action-toolbar col-lg-1 col-sm-2 col-xs-3" ng-disabled="selectedtorrents.length < 1">
        <div class="btn-group btn-group-sm btn-group-justified">
          <a role="button" class="btn btn-default" ng-click="doAction('queuedown')" title="{{'ML_QUEUEUP' | translate}}"><span class="glyphicon glyphicon-chevron-up"></span> </a>
          <a role="button" class="btn btn-default" ng-click="doAction('queueup')" title="{{'ML_QUEUEDOWN' | translate}}"><span class="glyphicon glyphicon-chevron-down"></span> </a>
      </div>
    </fieldset>

      <fieldset class="form-group btn-toolbar action-toolbar col-lg-2 col-sm-3 col-xs-2" ng-disabled="selectedtorrents.length < 1">
        <div class="btn-group btn-group-sm btn-group-justified">
          <div class="btn-group btn-group-sm dropdown" title="{{'OV_NEWLABEL_CAPTION' | translate}}" dropdown>
            <a role="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
              <span class="glyphicon glyphicon-tags"></span> <span class="hidden-xs">{{'OV_NEWLABEL_CAPTION' | translate}}</span> <span class="caret"></span>
            </a>
              <div class="dropdown-menu btn-group-sm" role="menu">
                <a role="button" class="btn btn-default" ng-click="setLabel('')"><span class="glyphicon glyphicon-remove-circle"></span> {{'OV_REMOVE_LABEL' | translate}}</a>
                <a role="button" class="btn btn-default" ng-click="setNewLabel()"><span class="glyphicon glyphicon-plus"></span> {{'OV_NEW_LABEL' | translate}}</a>
                <a role="button" class="btn btn-default" ng-repeat="label in labels" ng-click="setLabel(label[0])">
                  <span class="glyphicon glyphicon-tag"></span> {{ label[0] + ' (' + label[1] + ')' }}
                </a>
            </div>
          </div>
        </div>
      </fieldset>
  </form>

<p></p>

<div class="torrent row">
  <div class="input-group input-group-sm torrent-header">
    <span class="input-group-addon sorter selectable">
      <!--span class="glyphicon glyphicon-check" ng-click="sortBy('selected')"></span -->
      <input type="checkbox" ng-model="selectCheckbox">
    </span>
    <span class="input-group-addon queue sorter selectable" ng-click="sortBy('torrentQueueOrder')">
      # <span class="glyphicon" ng-show="sorter.field === 'torrentQueueOrder'" ng-class="{'glyphicon-sort-by-attributes-alt':sorter.ascending,'glyphicon-sort-by-attributes':!sorter.ascending}"></span>
    </span>
    <span class="input-group-addon sorter selectable" ng-click="sortBy('status')">
      <span class="glyphicon glyphicon-dashboard" ></span>
      <span class="glyphicon" ng-show="sorter.field === 'status'" ng-class="{'glyphicon-sort-by-attributes-alt':sorter.ascending,'glyphicon-sort-by-attributes':!sorter.ascending}"></span>
    </span>
    <span class="form-control selectable name sorter text-center" ng-click="sortBy('name')">{{'OV_COL_NAME' | translate}} <div class="pull-right tag-label">{{'OV_COL_LABEL' | translate}}</div>
      <span class="glyphicon" ng-show="sorter.field === 'name'" ng-class="{'glyphicon-sort-by-attributes-alt':sorter.ascending,'glyphicon-sort-by-attributes':!sorter.ascending}"></span>
    </span>
    <span class="input-group-addon selectable size sorter text-center" >
      <span ng-click="sortBy('percent')">%
        <span class="glyphicon" ng-show="sorter.field === 'percent'" ng-class="{'glyphicon-sort-by-attributes-alt':sorter.ascending,'glyphicon-sort-by-attributes':!sorter.ascending}"></span>
      </span>
      <br/>
      <span ng-click="sortBy('size')">{{'OV_COL_SIZE' | translate}}
        <span class="glyphicon" ng-show="sorter.field === 'size'" ng-class="{'glyphicon-sort-by-attributes-alt':sorter.ascending,'glyphicon-sort-by-attributes':!sorter.ascending}"></span>
      </span>
    </span>
    <span class="input-group-addon selectable sorter text-center speed" >
      <span ng-click="sortBy('uploadSpeed')">{{'OV_COL_UPSPD' | translateMultiLabel:0}}
        <span class="glyphicon" ng-show="sorter.field === 'uploadSpeed'" ng-class="{'glyphicon-sort-by-attributes-alt':sorter.ascending,'glyphicon-sort-by-attributes':!sorter.ascending}"></span>
      </span>
      <br/>
      <span ng-click="sortBy('downloadSpeed')">{{'OV_COL_DOWNSPD' | translateMultiLabel:0}}
        <span class="glyphicon" ng-show="sorter.field === 'downloadSpeed'" ng-class="{'glyphicon-sort-by-attributes-alt':sorter.ascending,'glyphicon-sort-by-attributes':!sorter.ascending}"></span>
      </span>
    </span>
    <span class="input-group-addon selectable sorter text-center peers" >
      <span ng-click="sortBy('seedsInSwarm')">{{'OV_COL_SEEDS' | translate}}
        <span class="glyphicon" ng-show="sorter.field === 'seedsInSwarm'" ng-class="{'glyphicon-sort-by-attributes-alt':sorter.ascending,'glyphicon-sort-by-attributes':!sorter.ascending}"></span>
      </span>
      <br/>
      <span ng-click="sortBy('peersInSwarm')">{{'OV_COL_PEERS' | translate}}
        <span class="glyphicon" ng-show="sorter.field === 'peersInSwarm'" ng-class="{'glyphicon-sort-by-attributes-alt':sorter.ascending,'glyphicon-sort-by-attributes':!sorter.ascending}"></span>
      </span>
    </span>
  </div>
</div>
<p></p>

<div class="separator"></div>
<div vs-repeat="30" vs-autoresize vs-excess="20" class="repeater-container row" ng-style="{ height: listHeight + 'px'}">
  <div ng-repeat="item in filteredtorrents" class="torrent" data-toggle="context" >
    <torrent-row />
  </div>
</div>
<div class="separator"></div>

    <script type="text/ng-template" id="newLabelModal.html">
        <div class="modal-header">
            <h3 class="modal-title">{{'OV_NEW_LABEL' | translate}}</h3>
        </div>
        <div class="modal-body">
            <p>{{'OV_NEWLABEL_TEXT' | translate}}</p>
            <input focus-me="true" type="text" class="form-control" ng-model="newLabel" />
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="$close(newLabel)" ng-disabled="newLabel === ''">{{'DLG_BTN_OK' | translate}}</button>
            <button class="btn btn-warning" ng-click="$dismiss()">{{'DLG_BTN_CANCEL' | translate}}</button>
        </div>
    </script>

</div>
