<div class="container">
  <form class="form-horizontal" role="form" ng-submit="signIn()">

    <div class="form-group">
      <label for="utUrl" class="col-sm-2 control-label">uTorrent url</label>
      <div class="col-sm-10">
        <input type="url" class="form-control" id="utUrl" placeholder="Enter uTorrent url - http://hostname:port/gui/" ng-model="url">
      </div>
    </div>
    
    <div class="form-group">
      <label for="utUser" class="col-sm-2 control-label">UserName</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="utUser" placeholder="Enter username" ng-model="user">
      </div>
      <label for="utPass" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="utPass" placeholder="Enter password" ng-model="password">
      </div>
    </div>

    <div class="form-group">
      <label for="utToken" class="col-sm-2 control-label">Token</label>
      <div class="col-sm-10">
        <input disabled type="text" class="form-control" id="utToken" placeholder="No token available - Did you sign in?" ng-model="token">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-10">
        <button type="submit" class="btn btn-default">Sign in</button>
      </div>
    </div>
  </form>
</div>
