<div class="input-group input-group-sm torrent-row" ng-class="{'selected':item.selected,'highlighted':item.isStarred}">
  <span class="input-group-addon">
    <input type="checkbox" ng-model="item.selected" ng-change="updateSelected()" >
  </span>
  <span class="input-group-addon queue" ng-class="{'sorted':sorter.field === 'torrentQueueOrder'}">
    {{item.getQueueStr()}}
  </span>
  <span class="input-group-addon status" title="{{statusTitle}}">
    <button class="btn btn-default btn-xs" ng-click="showActions(item,$event)">
      <span class="glyphicon {{statusClass}} {{statusColor}}"></span>
      </button>
  </span>
  <div title="{{item.name}}" class="form-control selectable name" ng-click="setSelected(item.hash,$event)" on-long-press="setSelected(item.hash,$event,true)" ng-class="{'sorted':sorter.field === 'name'}">{{item.decodedName}} </span>  
  </div>
  <div class="eta input-group-addon" ng-if="item.eta > 0">{{ item.eta | amDurationFormat : 'seconds' }}</div>
  <div class="tag-label input-group-addon"><span class="btn btn-default btn-xs" ng-hide="item.getMainLabel() === ''" ng-click="filters.label = item.getMainLabel();doFilter()" ><span class="glyphicon glyphicon-tag" ng-style="{color:labelColorMap[item.getMainLabel()]}" title='{{item.getMainLabel()}}'></span><span class="hidden-xs">{{item.getMainLabel()}}</span></span></div>
  <span class="info-button input-group-btn selectable">
    <button class="btn btn-link" ng-click="doAction('info',item)">
      <span class="glyphicon glyphicon-info-sign"></span>
    </button>
  </span>
  <span class="star-button input-group-btn selectable">
    <button class="btn btn-link" ng-click="searchSimilar(item)">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </span>
  <span class="star-button input-group-btn selectable">
    <button class="btn btn-link" ng-click="doAction('star',item)">
      <span class="glyphicon" ng-class="{'glyphicon-star-empty':!item.isStarred,'glyphicon-star':item.isStarred}"></span>
    </button>
  </span>
  <div class="input-group-addon selectable size" ng-class="{'sorted':sorter.field === 'size'}">
    <span class="byte-value">{{item.getSizeStrArr()[0]}}</span> <span class="byte-uom">{{item.getSizeStrArr()[1]}}</span><div class="download-progress" ng-style="{'width':item.getPercentStr()}" ng-class="{'btn-warning':(item.percent < 250), 'btn-info':(item.percent < 999), 'btn-success':(item.percent > 998)}"></div></div>
    <span class="input-group-addon selectable speed hidden-xs">
      <span ng-class="{'sorted':sorter.field === 'uploadSpeed'}"><span class="byte-value">{{item.getUpSpeedStrArr()[0]}}</span> <span class="byte-uom">{{item.getUpSpeedStrArr()[1]}}</span></span>
      -
      <span ng-class="{'sorted':sorter.field === 'downloadSpeed'}"><span class="byte-value">{{item.getDownSpeedStrArr()[0]}}</span> <span class="byte-uom">{{item.getDownSpeedStrArr()[1]}}</span></span>
    </span>
    <span class="input-group-addon selectable peers hidden-sm hidden-xs">
      <span ng-class="{'sorted':sorter.field === 'ratio'}"><span class="availability">{{item.ratio}}%</span></span>
      /
      <span ng-class="{'sorted':sorter.field === 'availability'}"><span class="availability">{{item.availability}}</span></span>
      <div class="byte-uom"><span ng-class="{'sorted':sorter.field === 'seedsInSwarm'}">{{item.seedsInSwarm}}</span> - <span ng-class="{'sorted':sorter.field === 'peersInSwarm'}">{{item.peersInSwarm}}</span></div>
    </span>
    <span class="input-group-addon selectable dateAdded hidden-sm hidden-xs feature-addedDate" ng-if="features.torrentAddedDate === true">
      <span class="byte-value" ng-class="{'sorted':sorter.field === 'dateAdded'}">{{item.dateAdded | date:'dd/MM/yyyy hh:mm'}}</span>
    </span>
    <!-- <span class="input-group-btn">
      <button class="btn {{btnClass}}" ng-click="doAction('{{btnAction}}',item)">
        <span class="glyphicon {{btnIcon}}"></span>
      </button>
    </span> -->
  </div>
